<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" >
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<style>
		.index-bg {
			background: #0C5460;
      background-image: url(/static/images/landing-bg.jpg);
      background-size: cover;
      background-position: center center;
		}
		body, a {
			color:white
		}
	</style>
</head>
<body class="index-bg" style="height:100%" >
  <div class="mt-4 ml-5">
   	<h1>Find the Best summer job for you!</h1>
   	<h2 >Optimize Innovate  Achieve</h2>
  </div>
  <nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
		  <div class="navbar-header  ml-4" >
			  <a class="navbar-brand" href="#">Home</a>
			  <a class="navbar-brand" href="#">Offers</a>
			  <a class="navbar-brand" href="#">Job Bank</a>
			  <a class="navbar-brand" href="/findbestjob/login"> Log in </a>
			  <a class="navbar-brand" href="/findbestjob/register"> Register </a>
			  <a class="navbar-brand " href=" "> Contact Us </a>
		  </div>
	  </div>
	<div></div>
  </nav>
</body>
</html>
